body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

#grid-container{
    display: grid;
    height: 76vh;
    width: 76vh;
    margin-top: 2%;
    
}

#container-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simplediv{
    display: block;
    border: 1px rgba(0, 0, 0, 0.03) solid;
}



.top-nav-container{
    background-color: #FFC164;
    display: flex;
    position: relative;
    height: 8vh;
    top: 0%;
    width: 100%;
    font-weight: 700;
}

.top-right{
    display: inline-flex;
    width: 50%;
    align-items: center;
    float: right;
    justify-content: flex-end;
    margin-right: 2%;
    font-size: 24px;
}

.top-left{
    display: flex;
    width: 50%;
    justify-content: left;
    align-self: center;
    font-size: 30px;
    margin-left: 2%;
}

.control-container{
    display: flex;
    margin-top: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #FFC164;
    padding: 1%;
    margin-left: 1%;
    border:none;
    border-radius: 13px;
    font-size: 16px;
}


#gridText{
    margin-right: 1%;
}

#gridsize{
    margin-right: 1%;
}

span:first-child{
    margin-right: 2%;
}

img{
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#pencil-icon{
    height: 50px;
    width: 50px;
}

a{
    color: black;
    text-decoration: none;
    /* border-bottom:solid 1px transparent; */

}

a:hover{

    /* border-bottom: 1px solid black;     */
    text-decoration:underline; 
    
}

#gridsize{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFC164;
    border-radius: 13px;
    -webkit-transition: 0.2ms;
    transition: 0.2ms;
    outline:none;
    opacity: 0.7;
    height: 10px;
    width: 12%;
    
}

#gridsize:hover{
    opacity: 1;
    /* add box shadow here */
}

#gridsize::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

#gridsize::-moz-range-thumb{
    width: 22px;
    height: 22px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
