body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

#grid-container{
    display: grid;
    height: 76vh;
    width: 76vh;
    margin-top: 2%;
    
}

#container-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.simplediv{
    display: block;
    border: 1px rgba(0, 0, 0, 0.03) solid;
}



.top-nav-container{
    background-color: #FFC164;
    display: flex;
    position: relative;
    height: 8vh;
    top: 0%;
    width: 100%;
    font-weight: 700;
}

.top-right{
    display: inline-flex;
    width: 50%;
    align-items: center;
    float: right;
    justify-content: flex-end;
    margin-right: 2%;
    font-size: 24px;
}

.top-left{
    display: flex;
    width: 50%;
    justify-content: left;
    align-self: center;
    font-size: 30px;
    margin-left: 2%;
}

.control-container{
    display: flex;
    margin-top: 2%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #FFC164;
    padding: 1%;
    margin-left: 1%;
    border:none;
    border-radius: 13px;
    font-size: 16px;
    transition: 0.3s;

}

button:hover{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .3);
}


#gridText{
    margin-right: 1%;
}

#gridsize{
    margin-right: 1%;
}

span:first-child{
    margin-right: 2%;
}

img{
    display: inline-block;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#pencil-icon{
    height: 50px;
    width: 50px;
}

a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    text-decoration:underline; 
    color: whitesmoke;
}

#gridsize{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #FFC164;
    border-radius: 13px;
    -webkit-transition: 0.2ms;
    transition: 0.2ms;
    outline:none;
    opacity: 0.7;
    height: 10px;
    width: 12%;
    margin-right: 3%;

}

#gridsize:hover{
    opacity: 1;
    /* add box shadow here */
}

#gridsize::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 22px;
    height: 22px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

#gridsize::-moz-range-thumb{
    width: 22px;
    height: 22px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}

#gridvalue{
    position: absolute;
    margin-right: 0%;
}

.hide{
    display: none;
}

.sidepanel  {
    background: linear-gradient(
       to right,
      rgba(211,211,211,8),
      rgba(211,211,211,.4));
    
    width: 0; /* the width when expanded is controlled in app.js */
    position: fixed;
    z-index: 1;
    height: 285px;
    top: 30%;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .4);
}

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidepanel a:hover {
    color: #f1f1f1;
  }

  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
  }
  
  #openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FFC164;
    color: black;
    padding: 10px 30px;
    border: none;
    top: 49%;
    left: -3.33%;
    position: fixed;
    border-radius: 0px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    transform:rotate(-90deg);
    transition: 0.3s;

  }
  
  #openbtn:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .4);
    color: #fff;
  }

  .tools-button {
    background: #A3D9A3;
    width: 135px;
    height: 35px;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    margin: 5%;
    text-align: center;
    
  }

  .tools-button:hover {
    color: #f1f1f1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
  }

  #color-picker {
    appearance: none;
    -webkit-appearance: none;
    background-color: #A3D9A3;
    border: none;
    border-radius: 13px;
    width: 110px;
    height: 20px;
    padding: 6%;
    margin-left: 5%;
    transition: 0.3s;

}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid black;
    border-radius: 13px;
}

#color-picker:hover{
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
}

#color-picker{
    color: #f1f1f1;
}
  