#grid-container{
    display: grid;
    height: 80vh;
    width: 80vh;
    
}

#container-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.simplediv{
    display: block;
    border: 1px rgba(0, 0, 0, 0.03) solid;

}